@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@100;300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #333;
    color: #222;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff79ff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
    border-color: #ff79ff;
}

.circle button#close {
    top: 60%;
    transform: rotate(50deg);
    border-color: #ff79ff;
    transform-origin: top left;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}

.container.show-nav.circle {
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.content img {
    max-width: 100%;
}

nav {
    position: fixed;
    bottom: 8%;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translate(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li+li {
    margin-left: 15px;
    transform: translate(-150%);
}

nav ul li+i+li {
    margin: 30px;
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
}

.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}